<a class="partials_cands" href="/users/{{this.id}}">
    <div>
        <h3>{{this.nome}}</h3>
        <small style="float: left; color: rgb(255, 255, 255);">ocupacao: </small>
        <p> {{this.ocupacao}}</p>
    </div>
</a>