<!DOCTYPE html>
<html lang="en">
<head>
    <title>Educ+</title>
    <link rel="stylesheet"  href="/css/styles.css">
    <title>kkk</title>
</head>
<body>
    <header>
        <div>
            <h1 id="titulo">Bem-vindo ao Educ+</h1>
        </div>
    </header>

    <div id="menu">
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/auth">Login</a></li>
                <li><a href="/materia">Aulas</a></li>
                <li><a href="/atividade">Atividades</a></li>
                <li><a href="/perfil">Meu Perfil</a></li>
                <li><a href="/curso">Cursos Oferecidos</a></li>
                <li><a href="/suporte">Fale Conosco</a></li>
            </ul>
        </nav>
    </div>

<div id="endereco">
    Você está em: Educ+/...
</div>


    {{{body}}}


    <footer>
        <p>&copy; 2023 Site Educativo</p>
    </footer>
</body>
</html>


<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=0ea20fe5-4fac-4128-8d03-d7bfb6b9a064"> </script>


