<center>
        <div class="login-box">

<h1>Cadastrar aluno</h1>
<form  class="form_cadastro" action="/users/create" method="post">
    <label for="nome">NOME</label> 
    <input placeholder="Digite o nome do aluno" style="" id="nome" name="nome" type="text"> <br> <br>

    <label for="email">EMAIL</label>
    <input placeholder="aluno@gmail.com" id="email" name="email" type="text"> <br> <br>

    <label for="senha">SENHA</label> 
    <input placeholder="Digite sua senha"id="senha" name="senha" type="text"> <br> <br>

    <label for="ocupacao">PROFISSÃO</label> 
    <input placeholder="ex: Estudante" id="ocupacao" name="ocupacao" type="text"> <br> <br>

    <input style="width: 10px; float: left;" name="alertas" type="checkbox" checked>
    <span>Deseja receber alertas de vagas ?</span> <br>
    <button type="submit">Cadastrar</button>
</form>

        </div>
</center>