
<body>
    <center>
        <div class="login-box">
            <h1 style="font-family:Arial, Helvetica, sans-serif; ">Faça seu Login</h1> <br> <br>
                <div class="form-group">
                  
                    EMAIL: <br>
                    <input type="text" id="id_email" style="width: 300px;"> <br> <br> <br>
                    SENHA: <br>
                    <input type="password" id="id_senha" style="width: 300px; height: 3px;"> <br> <br> <br>
                    <button onclick="login()">Login</button> <br> <br> <br>

                <button ><a href="/users/create" style="color: white;">Não tem perfil? Clique e cadastre-se</a></button>
        </div>
    </div>
    </center>
</body>
