
<head>
    <title>Matemática</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Matemática</h1>
        <p>Esta é a página da matéria de Matemática. Aqui você pode encontrar informações sobre álgebra, geometria, cálculo e muito mais.</p>
    </div>
</body>

