
<body>
    <center>
        <div class="login-box">
            <h1 style="font-family:Arial, Helvetica, sans-serif; ">Informações do Perfil</h1> <br> <br>
                <div class="form-group">
                    NOME: <br> <br>

                    EMAIL: <br> <br>

                    SENHA: <br> <br>


                <button ><a href="/users/create" style="color: white;">Não tem perfil? Clique e cadastre-se</a></button>
        </div>
    </div>
    </center>
</body>
