
    <head>
        <meta charset=UTF-8>
        <meta name=viewport content=width=device-width, initial-scale=1.0>
        <link rel=stylesheet href=css/estilo.css>
        <title>Site de Educação</title>
    </head>

<body>
    <header>
        <h1 id="titulo">Atividades</h1>
    </header>
    <div id="menu"> 
        <nav>
            <ul>
                
                <li><a href="Home.html">Página Inicial</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Aulas.html">Aulas</a></li>
                <li><a href="Provas.html">Atividades</a></li>
                <li><a href="Redação.html">Redação</a></li>
                <li><a href="Cadastro.html">Meu Perfil</a></li> 
                <li><a href="Cursos Oferecidos.html">Cursos Oferecidos</a></li>
                <li><a href="Fale Conosco.html">Fale Conosco</a></li>
            </ul>
        </nav>
    </div>

    <div id="endereco">
        Você está em: Atividades
    </div>


    <section>
        <h2><a href="Redação.html">Redação</a></h2>
        <p>Aqui você realiza suas redações!</p>
    </section>
    <section>
        <h2><a href="Atividades.html">Atividades</a></h2>
        <p>Realize atividades! e assim melhore seu desempenho</p>
    </section>
    </body>
    <section>
        <h2><a href="https://www.moderna.com.br/modernamigos/ensino-medio/simulados-enem.htm">Simulados</a></h2>
    </section>
