
<head>
    <title>Layout de Redação</title>
    <link rel="stylesheet" type="text/css" href="css/Redação.css">
</head>
<body>

    <header>
        <h1 id="titulo">Redação</h1>
    </header>
    <div id="endereco">
        Você está em: Redação
    </div>
    <div class="container">
        <h1>Escreva sua Redação</h1>
        <textarea id="redacao" placeholder="Digite sua redação aqui..."></textarea>
        <button id="botaoEnviar">Enviar</button>
    </div>
    <script src="js/redação.js"></script>
</body>
